---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contato">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 px-4 md:px-8 lg:px-16 xl:px-32 text-left">
        <div class="flex flex-col gap-8 justify-center">
          <h1 class="text-primary-color text-center font-bold text-3xl md:text-4xl lg:text-5xl">
            Entre em contato
            <br>
            e saiba mais.
          </h1>    
          <img class="hidden lg:block w-auto" style="max-width: 780px;" src="image/contato.webp" alt="contato">
        </div>
        <div class="flex flex-col gap-2 rounded-full w-full">
            <div class="bg-white p-8 shadow-md rounded-lg my-6">
                <h2 class="text-2xl font-bold mb-6 text-primary-color text-center">Envie sua mensagem 🚀</h2>
                <form>
                  <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-tertiary-color">Nome</label>
                    <input type="text" name="name" placeholder="Nome" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
                  </div>
                  <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-tertiary-color">E-mail</label>
                    <input type="email"  name="email" placeholder="E-mail" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
                  </div>
                  <div class="mb-4">
                    <label for="phone" class="block text-sm font-medium text-tertiary-color">Telefone</label>
                    <input type="tel" id="phone" placeholder="Telefone"  name="phone" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
                  </div>
                  <div class="mb-4">
                    <label for="message" class="block text-sm font-medium text-tertiary-color">Mensagem</label>
                    <textarea name="message" placeholder="Mensagem..." rows="4" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required></textarea>
                  </div>
                  <div>
                    <button type="submit" class="w-full bg-footer text-white font-bold py-2 px-4 rounded-md hover:bg-quaternary-color focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                      Enviar
                    </button>
                  </div>
                </form>
              </div>
        </div>
      </div>
</Layout>

<script type="">
    window.addEventListener('DOMContentLoaded', (event) => {
        const element = document.getElementById('phone');
        const maskOptions = {
            mask: '(00) 00000-0000'
        };
        IMask(element, maskOptions);
    })
</script>