---
import Layout from '../layouts/Layout.astro';
import Solucoes from '../components/Solucoes.astro';
import Video from '../components/Video.astro';
import Faca from '../components/Faca.astro';
import Segmentos from '../components/Segmentos.astro';
import Testimonials from '../components/Testimonials.astro';
import Hero from '../components/Hero.astro';


---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-12 lg:gap-20 ">
		<Hero />
		<Solucoes />
		<Faca />
		<Video />
		<Segmentos />
		<Testimonials />
	</main>
</Layout>