<style>
  /* @media (min-width: 1024px) {
    .container-faca {
      background: url('image/eclipse.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  } */
</style>
<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 px-4 md:px-8 lg:px-16 xl:px-32 container-faca text-center md:text-left">
  <div class="flex flex-col gap-8 justify-center order-2 lg:order-1">
    <h1 class="text-primary-color text-center font-bold text-4xl md:text-5xl lg:text-6xl">
      Faça tudo pelo
      <br>
      celular
    </h1>
    <spam class="text-tertiary-color text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas.Lorem ipsum dolor sit amet</spam>
    <div class="flex flex-col gap-4 items-center md:flex md:flex-row lg:items-center">
      <div class="flex bg-white w-fit">
        <img src="image/person.png" class="h-7 w-7 rounded-full ">
        <img src="image/person.png" class="h-7 w-7 rounded-full ">
        <img src="image/person.png" class="h-7 w-7 rounded-full ">
        <img src="image/person.png" class="h-7 w-7 rounded-full ">
      </div>
      <span class="text-secundary-color text-sm font-semibold">Mais de 100 usuários usando a plataforma</span>
    </div>
    <div class="flex justify-center md:justify-start">
      <button class="bg-button1 text-sm text-white p-3 rounded-xl font-semibold">Entrar em contato</button>
    </div>      
  </div>
  <div class="flex flex-col gap-2 order-1 lg:order-2">
      <img src="image/celular.png" alt="">
  </div>
</div>
