<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 px-4 md:px-8 lg:px-16 xl:px-32 container-faca text-center md:text-left">
  <div class="flex flex-col gap-8 justify-center order-2 lg:order-1">
    <h1 class="text-primary-color text-center lg:text-start font-bold text-4xl md:text-5xl lg:text-6xl">
      Gerencie seu negócio
      <br>
      pelo celular
    </h1>
    <span class="text-tertiary-color text-base">
      Simplifique a emissão de NFCe através do nosso app
    </span>
    <div class="flex flex-col gap-4 items-center md:flex md:flex-row lg:items-center">
      <div class="flex bg-white w-fit">
        <img src="image/person.webp" class="h-7 w-7 rounded-full ">
        <img src="image/mask.webp" class="h-7 w-7 rounded-full ">
        <img src="image/person1.webp" class="h-7 w-7 rounded-full ">
        <img src="image/person2.webp" class="h-7 w-7 rounded-full ">
      </div>
      <span class="text-secundary-color text-sm font-semibold">Mais de 230 usuários satisfeitos</span>
    </div>
    <div class="flex justify-center md:justify-start">
      <a href="https://wa.me/+5586981813581" target="_blank" class="bg-button1 text-sm text-white p-3 rounded-xl font-semibold">Entrar em contato</a>
    </div>      
  </div>
  <div class="flex flex-col gap-2 order-1 lg:order-2">
      <img src="image/celular.webp" alt="Imagem de um celular mostrando o software">
  </div>
</div>
