
<section class="flex flex-col bg-heroImg bg-no-repeat bg-cover bg-center justify-center" style="height: calc(95svh - (-37px));">
  <div class="absolute w-full h-full bg-black/50">
  </div>
  <div class="px-4 md:px-8 lg:px-16 xl:px-32 mt-4 z-40">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-20">
      <div class="flex flex-col">
        <h1 class="text-3xl whitespace-nowrap md:text-5xl lg:text-6xl font-bold text-white mb-10 leading-tight">
          Sistema de Gestão
          <br>
          Completo e Fácil de Usar
        </h1>
        <p class="text-base font-normal text-white">
          Perfeito para gerenciar comércio e serviços
        </p>
        <div class="flex mt-10 gap-5">
          <div class="inline-block text-center bg-white text-font-btn p-4 rounded-3xl">
            <a href="https://wa.me/+5586981813581" target="_blank"> Entrar em Contato</a>
          </div>
          <div class="inline-block text-center bg-primary-color border border-white text-white p-4 rounded-3xl">
            <a href="#video">Assista ao Vídeo</a>
          </div>
        </div>   
      </div>  
  </div>
</section>
<div class="flex flex-col items-center justify-center gap-4 mt-8 lg:mt-16">
  <div class="flex items-center justify-center px-2 gap-4">
    <button id="previous" class="flex-none flex justify-center items-cente rounded-full h-8 w-8 bg-primary-color hover:bg-quaternary-color">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f5f5f5" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
    </button>
    <div class="slide grid grid-cols-12 gap-2">
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/beaut.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/casa.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/constru.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/estrela.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/folclore.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/jmetal.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/perfumaria.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/toquefinal.webp" alt="">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-full h-20 rounded-full" src="image/verbena.webp" alt="">
      </div>
    </div>
    <button id="next" class="flex-none flex justify-center items-center rounded-full h-8 w-8 bg-primary-color hover:bg-quaternary-color">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f5f5f5" viewBox="0 0 256 256"><path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path></svg>
    </button>
  </div>
  <div class="bullets flex gap-2"></div>
</div>
<script>
  window.addEventListener('DOMContentLoaded', () => {
    const slide = document.querySelector('.slide')!;
    const bullets = document.querySelector('.bullets')!;
    const SLIDE_PER_VIEW = 4
    const LOOP_INTERVAL = 3000
    var intervalLoop = null
    let indexOfActiveElement = 0;


    function initializeLoop() {
      clearTimeout(intervalLoop!);
      intervalLoop = setTimeout(() => {
        slideNext()
      }, LOOP_INTERVAL)
    }

    function createBullet(index: number): HTMLDivElement {
      const div = document.createElement('div');
      div.classList.add('rounded-full', 'bg-gray-400', 'h-3', 'w-3', 'cursor-pointer')
      div.addEventListener('click', (event) => {
        goToSlide(index);
      })
      return div;
    }

    function initializeBullets() {
      for(let index = 0; index < slide.children.length; index++) {
        bullets.appendChild(createBullet(index))
      }
    }

    function initialize() {
      //initializeLoop()
      initializeBullets()
      refreshSlide()
    }
    

    function refreshSlide() {
      // `lg:grid-cols-${SLIDE_PER_VIEW.lg}`
      for(let index = 0; index < slide.children.length; index++) {
        const child = slide.children[index];
        child.classList.add(`col-span-${12/SLIDE_PER_VIEW}`)
        child.classList.remove('hidden')
        bullets.children[index].classList.remove('bg-primary-color')
        if (index === indexOfActiveElement) {
          bullets.children[indexOfActiveElement].classList.add('bg-primary-color')
        }
        if (index >= SLIDE_PER_VIEW) {
          child.classList.add('hidden')
        }
      }
    }

    // 12/3

    function slideNext() {
      initializeLoop()
      slide.appendChild(slide.firstElementChild!)
      if (indexOfActiveElement == slide.children.length - 1) {
        indexOfActiveElement = 0
      } else {
        indexOfActiveElement += 1
      }
      refreshSlide()
    }

    function slidePrevious() {
      initializeLoop()
      slide.prepend(slide.lastElementChild!)
      if (indexOfActiveElement == 0) {
        indexOfActiveElement = slide.children.length - 1
      } else {
        indexOfActiveElement -= 1
      }
      refreshSlide()
    }

    function goToSlide(index: number) {
      while (indexOfActiveElement != 0) {
        slidePrevious();
      }
      for (let i = 0; i < index; i++) {
        slideNext();
      }
    }

    document.getElementById('next')?.addEventListener('click', () => {
      slideNext();
    })

    document.getElementById('previous')?.addEventListener('click', () => {
      slidePrevious();
    })

    
    initialize()
  })
  
</script>