---
import { Image } from 'astro:assets';
---

<div class="flex flex-col px-4 md:px-8 lg:px-16 xl:px-32">
  <div class="flex flex-col gap-2 text-center mb-12">
    <h1 class="text-center text-primary-color text-3xl font-bold mx-2 md:mx-0 mt-32">
      Nossas Soluções
    </h1>
    <p class="text-center text-tertiary-color text-sm">Deixamos tudo mais fácil para você</p>
  </div>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-col gap-4 rounded-xl shadow-2xl border p-7">
      <div class="flex items-center justify-center bg-neutral-color w-fit rounded-xl p-3">
        <img src="image/cloud.svg" class="h-10 w-10">
      </div>
      <h2 class="text-xl font-semibold text-secundary-color">PDV Frente de Caixa</h2>
      <p class="text-tertiary-color text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas.Lorem ipsum dolor sit amet
        dignissim tristique. Maecenas in est erat.
      </p>
      <span class="font-semibold text-quaternary-color">
        <button class="underline">Saiba mais</button>
        </span>
    </div>
    <div class="flex flex-col gap-4 rounded-xl shadow-2xl border p-8">
      <div class="flex items-center justify-center bg-neutral-color w-fit rounded-xl p-3">
        <img src="image/cloud.svg" class="h-10 w-10">
      </div>
      <h2 class="text-xl font-semibold text-secundary-color">Controle Financeiro</h2>
      <p class="text-tertiary-color text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas Lorem ipsum dolor sit amet
        dignissim tristique. Maecenas in est erat.</p>
        <span class="font-semibold text-quaternary-color">
          <button class="underline">Saiba mais</button>
        </span>
    </div>
    <div class="flex flex-col gap-4 rounded-xl shadow-2xl border p-8">
      <div class="flex items-center justify-center bg-neutral-color w-fit rounded-xl p-3">
        <img src="image/cloud.svg" class="h-10 w-10">
      </div>
      <h2 class="text-xl font-semibold text-secundary-color">Gerenciamento</h2>
      <p class="text-tertiary-color text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas Lorem ipsum dolor sit amet
        dignissim tristique. Maecenas in est erat.</p>
        <span class="font-semibold text-quaternary-color">
          <button class="underline">Saiba mais</button>
        </span>
    </div>
    <div class="flex flex-col gap-4 rounded-xl shadow-2xl border p-8">
      <div class="flex items-center justify-center bg-neutral-color w-fit rounded-xl p-3">
        <img src="image/cloud.svg" class="h-10 w-10">
      </div>
      <h2 class="text-xl font-semibold text-secundary-color">Emissão Fiscal</h2>
      <p class="text-tertiary-color text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas Lorem ipsum dolor sit amet
        dignissim tristique. Maecenas in est erat.</p>
        <span class="font-semibold text-quaternary-color">
          <button class="underline">Saiba mais</button>
        </span>
    </div>
  </div>
</div>