<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 px-4 md:px-8 lg:px-16 xl:px-32">
  <div class="flex flex-col gap-8">
    <video class="rounded-3xl" controls>
      <source src="Ana_Mello.MP4" type="video/mp4">      
    </video>          
  </div>
  <div class="flex flex-col gap-8">
    <h1 class="text-primary-color font-bold text-4xl text-center ali md:text-5xl md:leading-[60px]">
      Conheça  
      <br>
      Nossa Solução
    </h1>
    <span class="text-tertiary-color text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas.Lorem ipsum dolor sit amet</span>
    <div class="flex justify-center md:justify-start">
      <a href="wa.me/+5586981813581" target="_blank" class="bg-button1 text-sm text-white p-3 rounded-xl font-semibold">Entrar em contato</a>
    </div>  
  </div>
</div>