---

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Potencialize seu negócio com nosso software de gestão comercial. Controle estoques, gerencie vendas e otimize processos com facilidade. Descubra como nossa solução completa pode impulsionar sua empresa!" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Sistech - {title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	body {
		font-family: 'Be Vietnam Pro', sans-serif;
		margin: 0;
		padding: 0;
	}
</style>
